.leftside, .rightside{
  height: 50vh;
  width: 100%;
}

@media screen and (min-width: 768px){
  .leftside, .rightside{
    height: 50vh;
  }  
}

.leftside {
  background-image: url('../images/fondo_1.jpg');
  background-repeat: round;
}

.rightside {
  background-image: url('../images/fondo_2.jpg');
  background-repeat: round;
}

.box .contenedor{
  background-color: black;
}
.box .leftside, .box .rightside{
  opacity: 0.2;
}
.box:hover .leftside, .box:hover .rightside{
  opacity: 1;
}